@use "../../styles/mixin" as mixin;
@use "../../styles/colors" as colors;

.categoryDropdown {

  button {
    background: none;
    border: none;
    color: colors.$dark;
  }
  div{
    z-index: 10000;
  }
}
.custom-toggle::after {
  display: none !important;
}
