@use "../../styles/colors" as colors;
@use "../../styles/mixin" as mixin;
.header {
  @include mixin.display-flex(column, space-between, center);
  padding: 1rem;
  a {
    color: black;
    font-size: 1.5rem;
  }
  .navSection {
    @include mixin.display-flex(row, space-between, center);
    width: 100%;
    nav {
      flex-wrap: wrap;
      @include mixin.display-flex(row, flex-start, flex-start);
      &:nth-of-type(1) {
        width: 35%;
        li {
        }
      }
      &:nth-of-type(2) {
        width: 35%;
        justify-content: flex-end;
        li {
          margin-left: 1.5rem;
          a {
            span {
              font-size: 16px;
              margin-left: 3px;
            }
          }
        }
      }
    }

    article {
      span {
        font-size: 2rem;
        color: white;
        margin-right: 3px;
        background-color: black;
        padding: 6px;
        border-radius: 8px;
      }
    }
  }

  .subNavSection {
    @include mixin.display-flex(row, flex-start, center);
    width: 100%;
    flex-wrap: wrap;
  }
}

.categoryDropdown {
  button {
    background: none;
    border: none;
    color: colors.$dark;
  }
}
.custom-toggle::after {
  display: none !important;
}
