.footerWrapper {
  padding: 1rem;
  @include display-flex(row, space-between, flex-start);
  flex-wrap: wrap;
  border-top: 1px solid rgb(229, 229, 229);
  article:nth-of-type(1) {
    width: 65%;
    @include display-flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    div:nth-of-type(1) {
      a {
        span {
          font-size: 2rem;
          color: white;
          margin-right: 3px;
          background-color: black;
          padding: 6px;
          border-radius: 8px;
        }
      }
    }
    div:nth-of-type(2) {
      width: 60%;
      @include display-flex(row, flex-start, flex-start);
      gap: 2rem;
      ul {
        margin-bottom: 0;
        padding: 0 2rem;
        li {
          a {
            text-decoration: none;
            color: $dark;
          }
        }
      }
    }
  }
  article:nth-of-type(2) {
    width: 25%;
    ul {
      margin-bottom: 0;
      padding: 0 2rem;
      li {
        a {
          text-decoration: none;
          color: $dark;
        }
      }
    }
  }
}
