.warn {
  background-color: red;
  p {
    color: white;
    font-weight: 500;
    text-align: center;
  }
}

.success {
  background-color: rgb(236, 253, 244);
  p {
    color: rgb(2, 153, 99);
    font-weight: 500;
    text-align: center;
  }
}
